/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f3; /* Match the light background */
  /* margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */ 

.form {
  

  margin:auto;
  width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #f1f3f5; /* White background for the form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #333;
}

label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

input[type="submit"] {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #333;
  color: #f0ecec;
}

.formcontainer {
  backdrop-filter:blur(20px) brightness(200%);
  text-align: left;

}

::placeholder {
  color: #8d8c8c;
}

form {
  display: flex;
  flex-direction: column;
}

.card-page{
  height: 50rem;
  background-size: auto;
  background-color:rgb(185, 150, 150) ;
}

